<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
    <link href="/css/commons.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>

<hr>


<hr>

<div class="insert">
    <div class="form-body">
        <p class="error">[[${error}]]</p>

        <form th:action="@{/updateInput/__${id}__}" method="post" th:object="${UpdateForm}">
            <fieldset class="label-130">
                <div>
                    <label>商品ID</label>
                    <input type="text" name="product_id" th:value="${product.product_id}" class="base-text" th:filed="*{product_id}">
                    <span class="error" th:each="error: ${#fields.errors('product_id')}">
                        [[ ${error} ]]
                    </span>
                </div>
                <div>
                    <label>商品名</label>
                    <input type="text" name="name" th:value="${product.name}" class="base-text" th:filed="*{name}">
                    <span class="error" th:each="error: ${#fields.errors('name')}">
                        [[ ${error} ]]
                    </span>
                </div>
                <div>
                    <label>単価</label>
                    <input type="text" name="price" th:value="${product.price}" class="base-text" th:filed="*{price}">
                    <span class="error" th:each="error: ${#fields.errors('price')}">
                        [[ ${error} ]]
                    </span>
                </div>
                <div>
                    <label>カテゴリ</label>
                    <select name="category_id" class="base-text">
                        <option th:each="category : ${categoryList}"
                                th:value="${category.id}" th:text="${category.name}" th:filed="*{category_id}">
                        </option>
                    </select>
                </select>
                </div>
                <div>
                    <label>商品説明</label>
                    <textarea name="description" class="base-text" th:text="${product.description}" th:filed="*{description}" >

            </textarea>
                </div>
                <div>
                    <label>画像</label>
                    <input type="file" name="file">
                    <span class="error">エラーメッセージ</span>
                </div>
            </fieldset>
            <div class="btns">
                <button type="button" onclick="openModal()" class="basic-btn">更新</button>
                <input type="button" onclick="location.href='../menu'" value="メニューに戻る" class="cancel-btn">
            </div>
            <div id="modal">
                <p class="modal-message">更新しますか？</p>
                <div class="btns">
                    <button type="submit" id="update-btn" class="basic-btn">更新</button>
                    <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="fadeLayer"></div>
<script src="/js/commons.js"></script>
<script>
    'use strict'
    document.getElementById('update-btn').addEventListener('click', () => {
      location.href = '/menu'
    })
</script>
</body>
</html>